* {
  -primary: #448AFF;
  -primary-variant: #2962FF;
  -secondary: #69F0AE;
  -secondary-variant: #00C853;

  -background: #121212;
  -surface: #121212;
  -error: #CF6679;

  -on-primary: black;
  -on-secondary: black;
  -on-background: white;
  -on-surface: white;
  -on-error: black;

  -high-emphasis: rgba(255, 255, 255, 0.87);
  -medium-emphasis: rgba(255, 255, 255, 0.60);
  -disabled: rgba(255, 255, 255, 0.38);

  -divider: rgba(255, 255, 255, 0.12);
}

.background {
  -fx-background-image: url("../background/blue_felt.jpg");
}
